[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #8e24aa;
    --primary-hover: #7b1fa2;
    --primary-focus: rgba(142, 36, 170, 0.125);
    --primary-inverse: #FFF;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --primary: #8e24aa;
        --primary-hover: #9c27b0;
        --primary-focus: rgba(142, 36, 170, 0.25);
        --primary-inverse: #FFF;
    }
}

@media only all and (min-sidth:720px) {

}

hgroup h1 {
    text-align: center;
}

hgroup h2 {
    text-align: center;
    text-decoration: underline ;
}

nav {
    display: table;
    margin-left: auto;
    margin-right: auto;
}



div {
    width: 50%;
    margin: 20px;
}